<% layout("/boilerplate") %>
<main>
  <section>
<h1>Edit this camp!</h1>
<form class="validated-form" action="/campgrounds/<%= campground._id%>?_method=PUT" method="POST" novalidate enctype="multipart/form-data">
    <div>
    <label for="title">Title</label><br>
      <input type="text" id="title" name="campground[title]" value="<%= campground.title%>" required><br> <!--Apparently the square brackets let  group all the  data passed via post request to the server, everyhting in the reqeust.body will be stored under "campground" no idea how this works, connects somehow with the ... in the put route on app.js --> 
      </div>
      <div>
      <label for="location">Location</label><br>
      <input type="text" id="location" name="campground[location]" value="<%= campground.location%>" required><br>
    </div>
    <div>
      <label for="image">Upload more images</label><br>
      <input type="file" name="image" id="image" multiple>
      
      <br>
    </div>
    <div>
      <label for="description">Description</label><br>
<textarea id="description" name="campground[description]" rows="4" cols="50" required>
  <%= campground.description%>
  </textarea>
    </div>
    <div>
      <label for="price">Price</label><br>
      <input type="text" id="price" name="campground[price]" value="<%= campground.price%>" required><br>
    </div>
    
    <% campground.images.forEach(function(img, i){%> <!--This just loops over all the images associated with this campground.-->
      <img src="<%=img.thumbnail%>" alt="">
      <div>
        <label for="image-<%=i%>">Delete?</label>
      <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
      <!--deleteImages is referenced in the schema doc, it has to be there for this to work. deleteImages is an array, when you tick the boxes on the edit page, the images whose tick-boxes you pressed will be added to that array & it will hold them. -->
      </div>
     
      <%})%>
    
    <button>Update campground</button>
    </form>
</section>
<a href="/campgrounds/<%= campground._id%>">Back to details page</a>
</main>
