<% layout("/boilerplate") %>
<main>
  <div id="map" style="width: 100%; height: 500px"></div>
  <section>
    <h1>All campgrounds</h1>
    <a href="/campgrounds/new"> Create a new campground</a>

    <ul id="indexList">
      <% for (var i=0; i < campgrounds.length; i++){ %>
      <li id="indexItem">
        <h3><a href="/campgrounds/<%= campgrounds[i]._id%>"> <%= campgrounds[i].title%></a></h3>
        <p>Cost per night: £<%= campgrounds[i].price%></p>
        <p><%= campgrounds[i].description%></p>
      </li>
      <% } %>
      <ul>
  </section>
</main>
<script>
 
  const mapToken = "<%-process.env.MAPBOX_TOKEN%>";
  const campgroundsLocation = {features: <%- JSON.stringify(campgrounds) %>}; //No idea, this is used in the cluster map. I think the mapbox cluser map needs data to be entered into it from an object with a value of "features"
</script>
<script src="/javascripts/clusterMap.js"></script>